.burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
    
    &:focus {
      outline: none;
    }

    &--closed {
      top: 30px;
      left: 32px;
    }

    &--open {
      top: 100px;
      right: 35px;
      width: 30px;
      height: 30px;

      .burger__line {

        &-top {
          transform: rotate(45deg);
          width: 30px;
        }
  
        &-mid {
          opacity: 0;
          transform: translateX(20px);
        }
  
        &-bottom {
          transform: rotate(-45deg);
          width: 30px;
        }
      }
    }
    
    &__line {
      width: 30px;
      height: 2px;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
      background-color: $light-color;
    }
    
    @media screen and (min-width: 769px) {
      display: none;
    }
} 


   