.description {
    margin-top: 180px;
    padding: 0 4%;
    display: flex;
    flex-direction: row-reverse;

    &__photos {
        padding: 0;
    }

    &__content {
        width: 100%;
        padding-right: 7%;
        padding-top: 0;
    }

    &__header {
        padding: 0;
    }
}