.description {
    margin-top: 60px;
    width: 100%;

    &__photos {
        height: 100%;
        width: 100%;
        padding: 60px 0;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
    }

    &__photo:nth-of-type(1) {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        width: 100%;
    }

    &__photo:nth-of-type(2) {
        grid-row: 2 / 8;
        grid-column: 1 / 2;
        width: 100%;
    }


    &__content {
        height: 100%;
        width: 82%;
        margin: 0 auto;
    }

    &__icon {
        margin-bottom: 9.5px;
        width: 28px;
        height: 24px;
    }

    &__header {
        font-size: clamp(24px, 4vw, 36px);
        font-weight: 700;
        font-family: $font-primary;
        line-height: 28px;
        max-width: 187px;
    }

    &__text-top {
        margin-top: 30px;
        font-family: $font-secondary-desktop;
        font-weight: 300;
        font-size: 20px;
        color: #707070;
    }

    &__text-bottom {
        margin-top: 15px;
        font-family: $font-secondary-mobile;
        font-size: 13px;
        font-weight: 400;
        color: #4E4E4E;
    }
}

// @media screen and (min-width: 481px) {
//     .facts__item-text {
//         font-size: 14px;
//     }
// }

