.footer {
    margin-top: 90px;
    width: 100%;

    &__container {
        padding: 90px 0;
        width: 100%;
        background-color:#E6E6E6;
    }

    &__content {
        width: 296px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
    }

    &__social {
        margin-top: 90px;
        padding-bottom: 30px;
        width: 296px;
        margin: 0 auto;
        border-bottom: 1px solid #BEBEBE;

        &-header {
            margin-bottom: 30px;
            font-family: $font-secondary-mobile;
            font-weight: 300;
            font-size: 20px;
            color: #707070;
        }

        &-links {
            display: flex;
            list-style: none;
        }
    }

    &__client-zone {
        margin-top: 90px;

        &-header {
            font-family: $font-secondary-mobile;
            font-weight: 300;
            font-size: 20px;
            color: #707070;
        }

        &-links {
            list-style: none;
            margin-top: 30px;
        }
    }

    &__about {
        margin-top: 60px;

       &-header {
        font-family: $font-secondary-mobile;
        font-weight: 300;
        font-size: 20px;
        color: #707070;
       }

       &-links {
           margin-top: 30px;
           list-style: none;
       }
    }

    &__law {
        margin-top: 60px;

       &-header {
        font-family: $font-secondary-mobile;
        font-weight: 300;
        font-size: 20px;
        color: #707070;
       }

       &-links {
           margin-top: 30px;
           list-style: none;
       }
    }

    &__link-element {
        margin-bottom: 10px;

        &--social {
            margin-right: 20px;
            padding: 10px;
             
            i {
                color: black;
            }
        }
    }

    &__link {
        font-size: 12px;
        font-family: $font-secondary-mobile;
        font-weight: 700;
        color: #707070;
        text-decoration: none;
    }

    &__copyright {
        display: flex;
        height: 48px;

        span {
            margin: auto;
            font-family: $font-secondary-mobile;
            font-size: 13px;
            font-weight: 400;
            color: #4E4E4E;
        }
    }
}