.gallery {
    grid-template-columns: 50% 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    &__photo-item:nth-of-type(1) {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    &__photo-item:nth-of-type(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    &__photo-item:nth-of-type(3) {
        grid-column: 4 / 8;
        grid-row: 1 / 2;
    }

    &__photo-item:nth-of-type(4) {
        grid-column: 2 / 5;
        grid-row: 2;
    }

    &__photo-item:nth-of-type(5) {
        grid-column: 5 / 8;
        grid-row: 2 / 3;
    }
}