.gallery {
    margin-top: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    gap: 10px;

    &__photo {
        width: 100%;
        height: 100%;
    }

    &__photo-item:nth-of-type(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 7;
    }

    &__photo-item:nth-of-type(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    &__photo-item:nth-of-type(3) {
        grid-column: 3 / 7;
        grid-row: 2 / 3;
    }

    &__photo-item:nth-of-type(4) {
        grid-column: 1 /4;
        grid-row: 3 / 4;
    }

    &__photo-item:nth-of-type(5) {
        grid-column: 4 / 7;
        grid-row: 3 / 4;
    }
}