.modal {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    

    &__overlay {
        position: fixed;
        z-index: 999;
        background-color: rgba(1, 0, 2, 0.9);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__header {
        color: #FFFFFF;
        font-family: $font-primary;
        font-size: 24px;
    }

    &__text {
        margin-top: 10px;
        width: 269px;
        text-align: center;
        font-family: $font-secondary-mobile;
        font-size: 13px;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 24px;
        opacity: 1;
    }

    &__button {
        margin-top: 60px;
        width: 138px;
        height: 46px;
        background-color: $bmw-blue;
        outline: none;
        border: none;
        opacity: 1;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 13px;
        color: white;
        cursor: pointer;
    }
}