.nav-desktop {
    visibility: hidden;
    height: 0;
}

.navigation {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #000000;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &--open {
        transform: translateX(0%);
    }

    .decoration-line {
        position: absolute;
        background-color: white;
        opacity: 25%;
        height: 1px;
        width: 70%;
        top: 15%
    }

    &__link-list {
        margin-top: 20vh;
        margin-bottom: 17vh;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link-item {
        margin-top: 30.5px;

        &:nth-of-type(2) {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            height: 90px;
            display: flex;
            align-items: center;
        }

        &:last-of-type {
            margin-bottom: 15vh;
        }
    }

    &__link {
        text-decoration: none;
        color: $hero-font-color;
        font-size: 16px;
        font-family: $font-primary;
        font-weight: 600;
        cursor: pointer;

        &--active {
            border-bottom: solid 2px $bmw-blue;
        }
    }
}

.cta-button {
    margin-bottom: 0;
}