@import './settings/reset';
@import './settings/colors';
@import './settings/fonts';

@import './Burger';
@import './Navigation';
@import './Hero';

@media screen and (min-width: 769px) {
    @import './Navigation_769';
}