@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$font-primary: 'Cairo', sans-serif;
$font-secondary-mobile: 'Roboto', sans-serif;
$font-secondary-desktop: 'Open Sans', sans-serif;
